* {
  box-sizing: border-box;
  font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.page {
  padding: 10px;
}

.header {
  color: #ffffff;
  background-color: #3A3A3A;
  padding: 10px;
}

.logo--text {
  fill: white;
  height: 12px;
  width: 192px;
}

#query {
  height: 30px;
  font-size: 15px;
  padding: 20px;
  border-radius: 5px;
  border: solid 1px gray;
}

#results {
  display: flex;
  min-height: 300px;
  margin-top: 15px;
  border: solid 1px gray;
  border-radius: 5px;
  background-color: #ffffff;
  color: white;
  flex-wrap: wrap;
  justify-content: space-between;
}

.results-middle {
  justify-content: center;
  align-items: center;
}

#results.no-results {
  align-items: center;
  justify-content: center;
  color: gray;
}

.pod {
  flex: 1 1 auto;
  width: 100%;
  margin: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 0 10px;
  background-color: #5FA3E6;
}

.pod:hover {
  background-color: #0D47A1;
}

.pod ul {
    list-style-type: none;
    padding: 0;
}

@media (max-width: 815px) {
  .logo--text {
    display: block;
    margin: 10px auto;
  }

  .title {
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }

  .searchBox {
    width: 100%;
  }

  #results {
    min-width: 563px;
  }

  .pod {
    width: 100%;
  }
}

@media (min-width: 816px) {
  .title {
    display: inline;
  }

  .searchBox {
    width: 339px;
  }

  #results {
    min-width: 100%;
  }
  .pod {
    width: 46%;
  }
}
